<a href="https://colab.research.google.com/github/NEKHIL124322/SIVA-SANKAR-MUJ/blob/main/Copy_of_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Python, a dictionary is an unordered, mutable (changeable) collection of key-value pairs. Dictionaries are used to store data values where each value is associated with a unique key. Keys in a dictionary are unique and must be immutable types like strings, numbers, or tuples, while values can be of any data type and can be duplicated.

In [ ]:
#How to create empty dictionary

dict1={}

print(type(dict1))

print(dict1)

dict2=dict()

print(type(dict2))

print(dict2)

<class 'dict'>
{}
<class 'dict'>
{}

In [ ]:
d1={1:"Aditya",2:"Hello",3:4.5} # key:value

#print(type(d1))

print(d1)

print("Keys are", d1.keys()) # return list of keys

print("Values are",d1.values()) # return list of values

print("Items are",d1.items()) # return lists of tuples having key and values

{1: 'Aditya', 2: 'Hello', 3: 4.5}
Keys are dict_keys([1, 2, 3])
Values are dict_values(['Aditya', 'Hello', 4.5])
Items are dict_items([(1, 'Aditya'), (2, 'Hello'), (3, 4.5)])

In [ ]:
d2={1:23, 2:34, 3:45, 1:45}

print(d2)

{1: 45, 2: 34, 3: 45}

In [ ]:
#mutable objects can not be allowed as a key in dictionary

d3={1:22,"Hello":33,(1,2):44, 4.5:55, (4,5):[1,2,3]}

print(d3)

{1: 22, 'Hello': 33, (1, 2): 44, 4.5: 55, (4, 5): [1, 2, 3]}

In [ ]:
# update operation on dictionary

d1={"Name": "Raj", "Age":24, "Salary":34000}

print(d1)

# Change salary to 35000

d1["Salary"]= 35000

print(d1)

d1["Age"]=34

print(d1)

{'Name': 'Raj', 'Age': 24, 'Salary': 34000}
{'Name': 'Raj', 'Age': 24, 'Salary': 35000}
{'Name': 'Raj', 'Age': 34, 'Salary': 35000}

In [ ]:
# How to perform insertion in dictionary
d1={"Name": "Raj", "Age":24, "Salary":34000}

d1["Age1"]=30

print(d1)

{'Name': 'Raj', 'Age': 24, 'Salary': 34000, 'Age1': 30}

In [ ]:
#update()

marks = {'Physics':67, 'Maths':87}


internal_marks = {'Practical':48, 'Computer':45}

marks.update(internal_marks)


print(marks)

print(internal_marks)

# Output: {'Physics': 67, 'Maths': 87, 'Practical': 48}

{'Physics': 67, 'Maths': 87, 'Practical': 48, 'Computer': 45}
{'Practical': 48, 'Computer': 45}

In [ ]:
#update()

marks = {'Physics':67, 'Maths':87}


update_marks = {'Physics':70, 'Maths':90}

marks.update(update_marks)


print(marks)

{'Physics': 70, 'Maths': 90}

In [ ]:
list1=[(1,22),(2,33), (3,44)]

dict1=dict(list1)

print(dict1)

{1: 22, 2: 33, 3: 44}

In [ ]:
dictionary = {'x': 2}

dictionary.update([('y', 3), ('z', 0)])

print(dictionary)

{'x': 2, 'y': 3, 'z': 0}

In [ ]:
#Nested dictionary

d11={1:{11:22},2:{22:33}}

print(d11[1])

print(d11[2][22])

{11: 22}
33

In [ ]:
original = {1:'one', 2:'two'}
new = original.copy()


print('Orignal: ', original)
print('New: ', new)

new[3]='three'

print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}
Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two', 3: 'three'}

In [ ]:
# Delete operation

mark= {'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

# del statement

del mark["Computer"]

print(mark)

{'Practical': 48, 'Physics': 67, 'Maths': 87}

In [ ]:
mark= {'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

mark.clear()

print(mark)

{}

In [ ]:
# Delete operation

mark= {'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

print(mark.pop("Physics"))


print(mark)

67
{'Practical': 48, 'Computer': 45, 'Maths': 87}

In [ ]:
# Delete operation

mark= {'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

mark["Science"]=90

print(mark)

print(mark.popitem())

print(mark)

{'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87, 'Science': 90}
('Science', 90)
{'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

In [ ]:
file_types = {
    ".txt": "Text File",
    ".pdf": "PDF Document",
    ".jpg": "JPEG Image",
}

# use of in and not in operators
print(".pdf" in file_types)       # Output: True
print(".mp3" in file_types)       # Output: False

True
False

In [ ]:
# Create a dictionary having key, value pairs like key:(Key*key)

d1={}

for i in range(1,10):
  d1[i]=i*i


print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
mark= {'Practical': 48, 'Computer': 45, 'Physics': 67, 'Maths': 87}

for i in mark.items():
  print(i, end=" ")

('Practical', 48) ('Computer', 45) ('Physics', 67) ('Maths', 87)

In [ ]:
# keys for the dictionary
alphabets = ['a', 'b', 'c']

# value for the dictionary
number = [1,2,3]

# creates a dictionary with keys and values
dictionary = dict.fromkeys(alphabets, number)

print(dictionary)

# Output: {'a': 1, 'c': 1, 'b': 1}

{'a': [1, 2, 3], 'b': [1, 2, 3], 'c': [1, 2, 3]}