<a href="https://colab.research.google.com/github/NEKHIL124322/SIVA-SANKAR-MUJ/blob/main/LS10_PY(T%2CP)U8_LIST_040125_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # A list is a collection data items


l1=[1,2,3] # list of integers

l2=[1.2,3.4,5.9] # list of float values

l3=[1, 2.5, "Hello", [5,4,3]] # list of mixed data items

print(l3)

[1, 2.5, 'Hello', [5, 4, 3]]

In [ ]:
# How to create empty

l4=[]

print(l4)

l5=list()

print(l5)

[]
[]

In [ ]:
l3=[1, 2.5, "Hello", [5,4,3]]

print(l3[0])
print(l3[1])
print(l3[2])
print(l3[3])

print(len(l3))

1
2.5
Hello
[5, 4, 3]
4

In [ ]:
l3=[1, 2.5, "Hello", [5,4,3]]

l3[2]="Python"

print(l3)

[1, 2.5, 'Python', [5, 4, 3]]

In [ ]:
l4=[6,5,4,3,2,1,7,8,9]

print(l4[::]) #[start:Stop:Step]
print(l4[2:7]) # start=2 stop=7, step=1(default)
print(l4[::2])
print(l4[::-1]) # reverse a list

[6, 5, 4, 3, 2, 1, 7, 8, 9]
[4, 3, 2, 1, 7]
[6, 4, 2, 7, 9]
[9, 8, 7, 1, 2, 3, 4, 5, 6]

In [ ]:
# list is also supporting negative indexing

l4=[6,5,4,3,2,1,7,8,9]

print(l4[-1])
print(l4[-2])

9
8

In [ ]:
l4=[6,5,4,3,2,1,7,8,9,11,12,0]

print(max(l4))
print(min(l4))
print(sum(l4))
print(len(l4))

12
0
68
12

In [ ]:
# any() and all()

l1=[1,2,3]

l2= [0,1,2]

l3= [0,0,0]

print(all(l1))
print(all(l2))
print(all(l3))
print()
print(any(l1))
print(any(l2))
print(any(l3))

True
False
False

True
True
False

In [ ]:
# How to add new data items into a list:- append(), and insert()

l1=[1,2,3]

l1.append(4)

print(l1)

[1, 2, 3, 4]

In [ ]:
# insert(index, value)

l2= [1,5,3,2]

l2.insert(2,4) # index=2 and value =4

print(l2)

[1, 5, 4, 3, 2]

In [ ]:
# write a program to create list of even and odd numbers from 2 to 20

even = []
odd = []

for i in range(2,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
print(list(range(2,21)))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# How to delete data item from list:- del statement

lis=[1,3,4,5,2,7,8,9]

del lis[2]

print(lis)

[1, 3, 5, 2, 7, 8, 9]

In [ ]:
lis=[1,3,4,5,2,7,8,9]

del lis[2:5]

print(lis)

[1, 3, 7, 8, 9]

In [ ]:
# remove() methods

lis=[1,3,4,5,2,7,8,9]

lis.remove(3)

print(lis)

[1, 4, 5, 2, 7, 8, 9]

In [ ]:
lis1=[1,2,3,4,5,4]

lis1.remove(4)

print(lis1)

[1, 2, 3, 5, 4]

In [ ]:
# pop(index is optional, default value is -1)

lis=[1,3,4,5,2,7,8,9]

lis.pop()

print(lis)

lis.pop(3)

print(lis)

[1, 3, 4, 5, 2, 7, 8]
[1, 3, 4, 2, 7, 8]

In [ ]:
# extend()

l1= [1,2,3]

l2=[4,5,6]

l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 6]

In [ ]:
lis=[1,3,4,5,2,7,8,9]

lis.sort()

print(lis)

[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
lis=[1,3,4,5,2,7,8,9]

lis.sort(reverse=True)

print(lis)

[9, 8, 7, 5, 4, 3, 2, 1]

In [ ]:
lis=[1,3,4,5,2,7,8,9]
print(lis.index(3))
lis.reverse()

print(lis)

print(lis.index(3))

1
[9, 8, 7, 2, 5, 4, 3, 1]
6