<a href="https://colab.research.google.com/github/NEKHIL124322/SIVA-SANKAR-MUJ/blob/main/project3_08122024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class A:
  pass


print("Hello")

Hello

In [ ]:
a=10

print(type(a))

<class 'int'>

In [ ]:
class A:
  var1=10

obj=A() # creating object
print(obj.var1)

print(type(obj))

10
<class '__main__.A'>

In [ ]:
class A1:
  a=10  #class variable
  def disp(self):   #class method
    print("Hello Python")
    print("Value of a is ",self.a)

ob1=A1()  #creating object

#ob1.disp()

A1.disp(ob1)

Hello Python
Value of a is  10

In [ ]:
class Employee:
    # Class variable
    company_name = "Tech Solutions"

    def emp(self, name, age):
        # Instance variables
        self.name1 = name
        self.age1 = age
        print(self.name1, "is working in",self.company_name, "and ",self.age1, "years old")

# Accessing class variable
#print(Employee.company_name)  # Output: Tech Solutions

# Creating instances
emp1 = Employee() #first object
emp1.emp("Alice", 30)

emp2 = Employee()
emp2.emp("Bob", 25)

print(emp1.name1)
print(emp2.name1)

Employee.company_name="TCS"

print(emp1.company_name)  # Output: Global Tech
print(emp2.company_name)  # Output: Global Tech

Alice is working in Tech Solutions and  30 years old
Bob is working in Tech Solutions and  25 years old
Alice
Bob
TCS
TCS

In [ ]:
class ADD:
  c=10 #class variable
  def __init__(self,num1,num2):  #constructor in Python
    #object variables
    self.a=num1
    self.b=num2

  def summ(self):
    print("Addition of numbers are ", self.a+self.b+ADD.c)

ob1=ADD(1,2) # calling parameterized constructor
print("Value of a and b for ob1",ob1.a, ob1.b)
print("Value of c for ob1",ob1.c)
ob1.summ()
print()

ob2=ADD(11,22)
print("Value of a and b for ob1",ob2.a, ob2.b)
print("Value of c for ob2",ob2.c)
ob2.summ()

Value of a and b for ob1 1 2
Value of c for ob1 10
Addition of numbers are  13

Value of a and b for ob1 11 22
Value of c for ob2 10
Addition of numbers are  43

In [ ]:
class A:
  cp=10

ob1=A()

print(ob1.cp)

A.cp=20

print(ob1.cp)

ob2=A()

print(ob2.cp)

10
20
20

In [ ]:
class A:

  def inp(self):
    self.a=int(input("Enter length"))
    self.b=int(input("Enter breadth"))

class B(A):

  def area(self):
    print("Area of rectangle is", self.a*self.b)

ob1=B()
ob1.inp() #calling method of class A
ob1.area() #calling method of class B

Enter length2
Enter breadth6
Area of rectangle is 12

In [ ]:
class A:
  a=10

class B(A):
  b=15

class C(B):
  def sum(self):
    print("Sum of a and b is ", self.a+self.b)

obj=C()

obj.sum()

Sum of a and b is  25

In [ ]:
class A:
  a=10

class B:
  b=15

class C(B,A):
  def sum(self):
    print("Sum of a and b is ", self.a+self.b)

obj=C()

obj.sum()

Sum of a and b is  25

In [ ]:
class ABC:
  var1=10  #public member
  _var2=20   #protected member
  __var3=30    #private member

  def pri(self):
    print("Private variable ", self.__var3)

obj=ABC()
print("Public variable ", obj.var1)
print("Protected variable ", obj._var2)
#print("Private variable ", obj.__var3)
print("Private members outside a class ", obj._ABC__var3)
#obj.pri()

Public variable  10
Protected variable  20
Private members outside a class  30