<a href="https://colab.research.google.com/github/NEKHIL124322/SIVA-SANKAR-MUJ/blob/main/Python_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1= "Python"

print(type(str1))

In [ ]:
str1= "Python"

str2= "Java"

str3= "Python"

print(id(str1))
print(id(str2))
print(id(str3))

print(str1 is str2) #FALSE

print(str1 is str3) #TRUE

134257932727728
134257925799024
134257932727728
False
True

In [ ]:
st1= "HELLO"

print("At index 0",st1[0])
print("At index 1",st1[1])
print("At index 2",st1[2])
print("At index 3",st1[3])
print("At index 4",st1[4])
print()
print("Negative indexing")
print("At index -1",st1[-1])
print("At index -2",st1[-2])
print("At index -3",st1[-3])
print("At index -4",st1[-4])
print("At index -5",st1[-5])

In [ ]:
st1= "HELLO"

print(st1)
print(st1[1:3]) #EL
print(st1[-3:-1]) #LL
print(st1[::-1])

print(st1[-1:-4])

In [ ]:
str11 = "Porgramming"

print(str11)

del str11

print(str11)

In [ ]:
#Compare two strings

str1 = "Hello, world!"
str2 = "I love Python"
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2) #FALSE

# compare str1 and str3
print(str1 == str3) #TRUE

In [ ]:
#ord() and chr()

print(ord('A'))

print(chr(67))

print(ord('a'))

print(chr(106))

print('a'<'A')

print('aa'<'aA')

In [ ]:
#Concatenate two strings

greet = "Hello"
name = "Python"

# using + operator
result = greet + name
print(result) #HelloPython

# Output: Hello Python

print(greet+" "+name)

In [ ]:
#iterating through String

str1 = "Programming"

for i in str1:
    print(i, end="")

print("\n")
for i in str1:
    print(i)

In [ ]:
str1 = "Programming"

print(len(str1))
for i in range(len(str1)):
    print(str1[i], end=" ")

In [ ]:
str1 = "Programming"

i=0
length= len(str1)

while i<length:
    print("str[",i,"]",str1[i])
    i+=1

In [ ]:
#Membership operators

str2= "Python"

print("P" in str2)
print("P" not in str2)

In [ ]:
#isalnum() True or False

message= "007"

print(message.isalnum())

message2= "Python@123"
print(message2.isalnum())

In [ ]:


message= "Python"

print(message.isalpha()) #True

message2= "Python Java"
print(message2.isalpha()) #False

In [ ]:
contact= "123456"

print(contact.isdigit())

contact2= "123456a"
print(contact2.isdigit())

In [ ]:
str1 = "Hello"

str2 = "HELLO"

srt3 = "hello"

print(str1.islower())
print(str1.isupper())
print(str2.isupper()) #TRUE
print(srt3.islower()) #TRUE

In [ ]:
#String reassigning

str11= "Hello"

print(id(str11))

print(str11)

str11= "Python"

print(id(str11))

print(str11)

135868780361456
Hello
135869216978352
Python

In [ ]:
str1 = "helLO"

print(str1.lower()) # hello

print(str1.upper()) #HELLO

print(str1.capitalize()) #HelLO

print(str1.swapcase()) #HELlo

hello
HELLO
Hello
HELlo

In [ ]:
str1 = "Python is fun"

print(str1.title())

Python Is Fun

In [ ]:
str11= "abc"

print(max(str11))

print(min(str11))

c
a

In [ ]:
#Left padded with zero

str1= "1234"

print(str1.zfill(10))

0000001234

In [ ]:
#str_name.partition(seprator)- return tuple with three values
string = "Python is fun"

# 'is' separator is found
print(string.partition('fun'))

('Python is ', 'fun', '')

In [ ]:
# lstrip(), rstrip() and strip()

str11= " Hello Python "

#print(str11.lstrip())

#print(str11.rstrip())

print(str11.strip())

Hello Python

In [ ]:
#replace()

str1 = "Python is fun fun fun fun"
print(str1)
#print(id(str1))

print(str1.replace("fun", "awesome"))
print("After replace")
#print(str1)
#print(id(str1))

Python is fun fun fun fun
Python is awesome awesome awesome awesome
After replace

In [ ]:
#text= 'Split this string awesome'

# splits using space
#print(text.split())

grocery = 'Milk,Chicken,Bread'

# splits using ,
#print(grocery.split(','))

# splits using :
# doesn't split as grocery doesn't have :
#print(grocery.split(':'))

grocery1 = 'Milk:Chicken:Bread'

print(grocery1.split(':'))

['Milk', 'Chicken', 'Bread']

In [ ]:
#join() :- seprator.join(string)

text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
#print(' '.join(text))

# Output: Python is a fun programming language

print('_'.join(text))

Python_is_a_fun_programming_language

In [ ]:
#Python String Formatting (f-Strings)

name = 'Aman'
country = 'USA'
age=34

print(f'{name} is from {country} and {age} year old')

print(name," is from", country, "and", age, " year old")

Aman is from USA and 34 year old
Aman  is from USA and 34  year old

In [ ]:
name = "Aditya"
age = 36

#string.format(variables)

string = "My name is {} and I am {} years old."
print(string.format(name, age))
# Output: My name is Aditya and I am 36 years old.

string2 = "My name is {0} and I am {1} years old."
print(string2.format("Raj", 25))

My name is Aditya and I am 36 years old.
My name is Raj and I am 25 years old.

In [ ]:
formatted_string = "My name is {name} and I am {age} years old.".format(name="Aman", age=16)
print(formatted_string)
# Output: My name is Aman and I am 16 years old.