<a href="https://colab.research.google.com/github/NEKHIL124322/SIVA-SANKAR-MUJ/blob/main/TUPLES_AND_SETS_110225.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= [1,2,3] #list

b= (1,2,3) #tuple

print(type(a))

print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
c=1,2,3 #tuple

print(type(c))

<class 'tuple'>

In [ ]:
#Creating empty tuple

b=()

print(b)

print(type(b))

b1=tuple()

print(b1)

print(type(b1))

()
<class 'tuple'>
()
<class 'tuple'>

In [ ]:
#converting list into a tuple

aa=[1,2,4]

print(type(aa)) # list

bb=tuple(aa)

print(bb)

print(type(bb)) # tuple

<class 'list'>
(1, 2, 4)
<class 'tuple'>

In [ ]:
#operations on tuple

a1=(1,2,3,4,5,6)

print(min(a1))
print(max(a1))
print(sum(a1))
print(len(a1))
print(a1.index(3))

1
6
21
6
2

In [ ]:
a2=(1,2,3)

b2=(4,6,5)

c=a2+b2

print(c)

print(a2)
print(b2)

(1, 2, 3, 4, 6, 5)
(1, 2, 3)
(4, 6, 5)

In [ ]:
a3=(3,4,2,5,1)

a3.sort()

print(a3)

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
a3=(3,4,2,5,1)

a3=tuple(sorted(a3))

print(a3)

(1, 2, 3, 4, 5)

In [ ]:
a1=("Hello")

print(type(a1))

a2=("Hello",)

print(type(a2))

<class 'str'>
<class 'tuple'>

In [ ]:
a3=(3,4,2,5,1)

for var in a3:
  print(var, end=" ")

3 4 2 5 1

In [ ]:
a3=(3,4,2,5,1)

print(7 in a3)
print(4 in a3)

False
True

In [ ]:
# packing and unpacking

a=(1,2,3,4)  # packing

print(a)

(x,y,z,z1)=a  #unpacking

print(z1)

(1, 2, 3, 4)
4

In [ ]:
my_list=[1]

print(type(my_list))

<class 'list'>

In [ ]:
a=5,4,3,2

print(a)

(5, 4, 3, 2)

In [ ]:
#Sets is a collection of data items, mutable, unorderd, doesnot allow duplicate values

set1={1,2,3,4,4,3,2,1}

print(set1)

print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
set2={1,1.2,"Hello",True}

print(set2)

{1, 'Hello', 1.2}

In [ ]:
set3={1,1.2,"Hello",(1,2,3)}

print(set3)

set54={1,1.2,"Hello",[1,2,3]}

print(set54)

{1, 'Hello', 1.2, (1, 2, 3)}

TypeError: unhashable type: 'list'

In [ ]:
list1=[1,2,3,4,4,3,2,1]

set2=list(set(list1))

print(set2)

[1, 2, 3, 4]

In [ ]:
#How to create empty set

set1={}

print(type(set1))

set2=set()

print(type(set2))

<class 'dict'>
<class 'set'>

In [ ]:
# How to insert new data item into set

set1={1,2,3,4}

set1.add(5)

print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# How to insert multiple data items into set

set1={1,2,3,4}

list1=["Hello", "Python"]

set1.update(list1)

print(set1)

{1, 2, 3, 4, 'Python', 'Hello'}

In [ ]:
set11= {1,2,3.5,"Hello"}

print(set11)

{1, 2, 3.5, 'Hello'}

In [ ]:
# How to delete data item from set (i) remove() and (ii) discard() (iii) pop()

set1={1,2,3,4}

set1.remove(3)

print(set1)

{1, 2, 4}

In [ ]:
set1={1,2,3,4}

set1.discard(1)

print(set1)

{2, 3, 4}

In [ ]:
set11= {1,2,3,4,5}

set11.remove(15)

print(set11)

KeyError: 15

In [ ]:
a={1,2,3,4}

b={3,4,5,6,7}

print(a.union(b)) # aUb={1,2,3,4,5,6,7}

print(a.intersection(b)) #{3,4}

print(a.difference(b))# a-b={1,2}  b-a={5,6,7}

print(a.symmetric_difference(b)) #(a-b) U (b-a)

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{1, 2, 5, 6, 7}